<div class="widget mb-50">
    <div class="title">
        <h5>3 Comments</h5>
    </div>
    <ul class="widget-comments">
        <li class="comment-item">
            <img src="assets/img/user/1.jpg" alt="">
            <div class="content">
                <ul class="info list-inline">
                    <li>Mohammed Ali</li>
                    <li class="dot"></li>
                    <li> January 15, 2021</li>
                </ul>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus at doloremque
                    adipisci eum placeat
                    quod non fugiat aliquid sit similique!
                </p>
                <div><a href="#" class="link"> <i class="arrow_back"></i> Reply</a></div>
            </div>
        </li>
        <li class="comment-item">
            <img src="assets/img/author/1.jpg" alt="">
            <div class="content">
                <ul class="info list-inline">
                    <li>Simon Albert</li>
                    <li class="dot"></li>
                    <li> January 15, 2021</li>
                </ul>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus at doloremque
                    adipisci eum placeat quod non
                    fugiat aliquid sit similique!
                </p>
                <div>
                    <a href="#" class="link">
                        <i class="arrow_back"></i> Reply</a>
                </div>
            </div>
        </li>
        <li class="comment-item">
            <img src="assets/img/user/2.jpg" alt="">
            <div class="content">

                <ul class="info list-inline">
                    <li>Adam bobly</li>
                    <li class="dot"></li>
                    <li> January 15, 2021</li>
                </ul>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus at doloremque
                    adipisci eum placeat
                    quod non fugiat aliquid sit similique!
                </p>

                <div>
                    <a href="#" class="link">
                        <i class="arrow_back"></i> Reply</a>
                </div>
            </div>
        </li>
    </ul>
    <!--Leave-comments-->
    {% include "components/comment_form.html" %}
</div>