<!--footer-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright">
                    <p>© Copyright 2021
                        <a href="#">AssiaGroupe</a>, All rights reserved.
                    </p>
                </div>
                <div class="back">
                    <a href="#" class="back-top">
                        <i class="arrow_up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>