{% load static %}
<!-- favicon -->
<link rel="icon" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">

<!-- Title -->
<title> NoonPost. - Personal Blog HTML Template </title>

<!-- Font Google -->
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<!-- CSS Plugins -->
<link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/elegant-font-icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">

<!-- main style -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">