{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">

        <!--logo-->
        <div class="logo">
            <a href="index.html">
                <img src="{% static 'assets/img/logo-dark.png' %}" alt="" class="logo-dark">
                <img src="{% static 'assets/img/logo-white.png' %}" alt="" class="logo-white">
            </a>
        </div>
        <!--/-->

        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="index.html" data-toggle="dropdown"> Home </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item" href="index.html">Demo 1</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-2.html">Demo 2 </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-3.html">Demo 3 </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-4.html">Demo 4 </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-5.html">Demo 5</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-6.html">Demo 6 </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle active" href="blog-grid.html" data-toggle="dropdown"> Blog
                    </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item active" href="blog-grid.html"> Blog grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="blog-masonry.html"> Blog masonry </a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="blog-list.html"> Blog list </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="post-default.html" data-toggle="dropdown"> Posts
                        Features </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item" href="post-default.html"> post default</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="post-video.html"> post video</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="post-audio.html"> post audio</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="post-gallery.html"> post gallery</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="post-no-sidebar.html"> post no sidebar </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="post-left-sidebar.html"> post left sidebar </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Pages </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item" href="about.html"> About </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="author.html"> author </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="login.html"> Login </a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="register.html"> Sign up </a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="page404.html"> Page 404 </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html"> Contact </a>
                </li>

            </ul>
        </div>
        <!--/-->

        <!--navbar-right-->
        <div class="navbar-right ml-auto">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
            </div>
            <div class="social-icones">
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="search-icon">
                <i class="icon_search"></i>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<!--/-->

<!--category-->
<br>
<br>
<br>
<br>