{% load static %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'assets/js/jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- JS Plugins  -->
<script src="{% static 'assets/js/ajax-contact.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/switch.js' %}"></script>

<!-- JS main  -->
<script src="{% static 'assets/js/main.js' %}"></script>