{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}
<!--post-default-->
<section class="section pt-55 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mb-20">
                <!--Post-single-->
                <div class="post-single">
                    <div class="row">
                        {% if page.header_image %}
                        <div class="col-md-12 ">
                            <div class="image">
                                {% image page.header_image original as header_image %}
                                <img src="{{ header_image.url }}" alt="">
                                <p>Caption can be used to add info</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="post-single-content">
                        <a href="blog-grid.html" class="categorie">travel</a>
                        <h4>{{page.title }} </h4>
                        <div class="post-single-info">
                            <ul class="list-inline">
                                <li><a href="author.html"><img src="{% static 'assets/img/author/1.jpg' %}" alt=""></a>
                                </li>
                                <li><a href="author.html">David Smith</a> </li>
                                <li class="dot"></li>
                                <li>January 15, 2021</li>
                                <li class="dot"></li>
                                <li>3 comments</li>
                            </ul>
                        </div>
                    </div>

                    <div class="post-single-body">
                        <p>
                            Its sometimes her behaviour are contented. Do listening am eagerness oh objection collected.
                            Together gay feelings continue
                            juvenile had off Unknown may service
                            subject her letters one bed. Child years noise ye in forty. Loud in this in both
                            hold. My entrance me is disposal bachelor remember relation
                        </p>
                        <h5> 1 - Pick a sustainable travel destination </h5>

                        <p>
                            Oh acceptance apartments up sympathize astonished delightful. Waiting him new lasting
                            towards. Continuing melancholy especially
                            so to. Me unpleasing impossible in attachment announcing so astonished. What ask leaf may
                            nor upon door. Tended remain
                            my do stairs. Oh smiling amiable am so visited cordial in offices hearted.
                        </p>
                        <p>
                            Oh acceptance apartments up sympathize astonished delightful. Waiting him new lasting
                            towards. Continuing melancholy especially
                            so to. Me unpleasing impossible in attachment announcing so astonished. What ask leaf may
                            nor upon door. Tended remain
                            my do stairs. Oh smiling amiable am so visited cordial in offices hearted.
                        </p>

                        <br>
                        <br>
                        <br>
                        <div class="post-single-gallery">
                            <div class="owl-carousel">
                                <div class="image">
                                    <img src="{% static 'assets/img/blog/2.jpg' %}" alt="">
                                </div>
                                <div class="image">
                                    <img src="{% static 'assets/img/blog/6.jpg' %}" alt="">
                                </div>
                                <div class="image">
                                    <img src="{% static 'assets/img/blog/15.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>

                        <p> Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt
                            in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>
                        <h5>2 - Research before booking</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat
                            cupidatat non proident.
                        </p>
                        <div class="quote">
                            <div><i class="icon_quotations_alt"></i></div>
                            <p>
                                The man who goes alone can start today; but he who
                                travels with another must wait till that other is ready.
                            </p>
                            <small>Henry David Thoreau.</small>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor Unknown may service in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident.
                        </p>
                        <h5>3 - Pack light , Easy Sustainable Travel Tip</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat
                            cupidatat non proident.
                            >sunt in culpa qui officia deserunt mollit anim id e st laborum.Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam.
                        </p>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="image">
                                    <img src="{% static 'assets/img/blog/21.jpg' %}" alt="">
                                    <p>Caption can be used to add info</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="image">
                                    <img src="{% static 'assets/img/blog/20.jpg' %}" alt="">
                                    <p>Caption can be used to add info</p>
                                </div>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat
                            cupidatat non proident.
                        </p>
                        <h5>4 - Be respectful of the environment</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.

                        </p>
                        <ul class="list">
                            <li>Be respectful of the environment </li>
                            <li>Pick a sustainable travel destination instead of a popular one</li>
                            <li>Research before booking</li>
                            <li>Pack light , Easy Sustainable Travel Tip</li>
                            <li>Be respectful of the environment</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>

                    <div class="post-single-footer">
                        <div class="tags">
                            <ul class="list-inline">
                                <li>
                                    <a href="blog-grid.html">Travel</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Nature</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">tips</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">forest</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">beach</a>
                                </li>

                            </ul>
                        </div>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="color-facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-pinterest">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!--/-->


                <!--widget-comments-->
                {% include "components/comments.html" %}
            </div>
            <div class="col-lg-4 max-width">




                {% include "components/main_categories.html" %}
                {% include "components/main_tags.html" %}



            </div>
        </div>
    </div>
</section><!--/-->
{% endblock %}